body {
    background-color: #315481;
    background-image: linear-gradient(to bottom, #000000, #315481 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    color: #FFFFFF;
    text-align: center;
    font-size: 300%;
    font-family: microExtend;
}
    @font-face {
        font-family: microExtend;
        src: url(resources/fonts/micro_extend/MicroExtendFLF.ttf);
    }
    /*background-image: url("background.jpg");*/
    /*background-size: 800px 600px;*/
    /*background-repeat: no-repeat;*/

a{
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

span{
    color: #FF0000;
}

#links{
    display: flex;
    font-size:125%;
    justify-content: space-between;
}

button{
    width:500;
}