@import './theme.scss';
@import url('//fonts.googleapis.com/css?family=Inconsolata');
@import url('//fonts.googleapis.com/css?family=Ubuntu');



html, body, #root, .app {
  height: 100%;
  width: 100%;
}

.dark.app {

}

a {
  color: red;
}

.light.app {
  &-sidebar {
    background-color: white;
  }
}

.app {
  display: flex;
  height: 100%;
  flex-direction: row;

  &-sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  
    background-color: $darker-16;
  
    &-item {
      font-size: 30px;
      padding: 10px;
      display: block;
      text-align: center;

      &-icon {
        color: $lighter-14;
        &:hover {
          color: $lighter-18;
        }
      }
    }

    &-tools {
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;     
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    &-header {
      flex: 0 0 auto;
      background-color: $darker-16;
      color: $lighter-16;
      h1 {
        padding: 0 0 0 10px;
        font-family: "Inconsolata"
      }
    }
  
    &-content {
      flex: 1 1 auto;
      position: relative;
      overflow-y: auto;
      padding: 0 15px;
      background-color: $darker-17-5;
      font-family: "Ubuntu";
      color: white;

      pre {
        font-family: "Inconsolata";
        background-color: $lighter-5;
      }
    }
    
    &-footer {
      flex: 0 0 auto;
      min-width: 100%;
      background-color: $darker-17;
      border-top: 1px solid $lighter-3;

      &-header {
        color: $lighter-12;
        background-color: $darker-2;
        display: flex;
        flex-direction: row;
        // top right bottom left
        padding: 8px 8px 0 1em;

        &-tabs {
          font-size: 15px;
          border-bottom: 1px solid $lighter-3;
          color: $lighter-19;
        }

        &-tools {
          flex-grow: 1;
          display: flex;
          flex-direction: row-reverse;
          font-size: 20px;
        }
      }
    }
  }
}
