html, body, .app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: row;

  &-sidebar {
    list-style-type: none;
    padding: 0;
  
    background-color: red;
  
    &-item {
      font-size: 40px;
      padding: 10px;
      &-icon {
        color: white;
      }
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &-header {
      flex: 0 0 auto;
      background-color: blue;
    }
  
    &-content {
      flex: 1 1 auto;
      position: relative;
      overflow-y: auto;
    }
    
    &-footer {
      flex: 0 0 auto;
    }
  }
}
