on:
  pull_request:
    branches:
      - dev

name: Quality Gates
jobs:
  markdowncheck:
    name: Markdown Lint & Spell Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    # Cache node modules
    - name: Cache node_modules
      id: cache-modules
      uses: actions/cache@v1
      with:
        path: node_modules
        key: ${{ runner.OS }}-build-${{ hashFiles('package.json') }}
    
    # Install dependencies - use cache if possible
    - name: install dependencies
      if: steps.cache-modules.outputs.cache-hit != 'true'
      run: npm ci
    
    - name: markdown lint & spell check
      run: npm run lint

